.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr;
  grid-gap: .01rem;


}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}
.content-0 {
  grid-area: content-0;
}


.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}





/* OTHER STYLES */


.item {
  background-color: white;
  background-image: white;
  color: #000000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}



.content-3 {
  display: flow-root;
    padding: 10px;
}
