.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns:430px 1fr;
  grid-template-rows: 240px 2fr;
  grid-gap: 1rem;
  grid-template-areas:
      "content-1 content-1"
      "content-2 content-3"
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}





